<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Order List</h2>
                                    <p>Welcome To Cherish <span class="bread-ntd"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report"
                                    class="btn"><i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Order List</h4>
                <table>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer's ID</th>
                        <th>Cart ID</th>
                        <th>Total Cost</th>
                        <th>Payment Status</th>
                        <th>Shipping Status</th>
                    </tr>
                    {{#each orders}}
                    <tr>
                        <td>{{OrderID}}</td>
                        <td>{{UserID}}</td>
                        <td>{{CartID}}</td>
                        <td>${{TotalCost}}</td>
                        <td>{{PaymentStatus}}</td>
                        <td>{{ShippingStatus}}</td>
                    </tr>
                    {{/each}}
                </table>
                <div class="custom-pagination">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="/orders?page=1">1</a></li>
                        <li class="page-item"><a class="page-link" href="/orders?page=2">2</a></li>
                        <li class="page-item"><a class="page-link" href="/orders?page=3">3</a></li>
                        <li class="page-item"><a class="page-link" href="/orders?page=4">4</a></li>
                        <li class="page-item"><a class="page-link" href="/orders?page=5">5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>