<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Product List</h2>
                                    <p>Welcome To Cherish <span class="bread-ntd"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report"
                                    class="btn"><i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Products List</h4>
                    <div class="add-product">
                        <a href="/products/productsEdit">Add Product</a>
                    </div>
                    <table>
                        <tr>
                            <th>Image</th>
                            <th>ID</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Brand ID</th>
                            <th>Producing Year</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Setting</th>
                        </tr>
                        {{#each products}}
                        <tr>
                            <td><img src="/img/product/{{Image}}" alt="" /></td>
                            <td>{{ProductID}}</td>
                            <td>{{ProductName}}</td>
                            <td>{{Category}}</td>
                            <td>{{BrandID}}</td>
                            <td>{{ProducingYear}}</td>
                            <td>${{Price}}</td>
                            <td>{{Description}}</td>
                            <td>
                                <button data-toggle="tooltip" title="Detail" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>        
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="?page=1">01</a></li>
                            <li class="page-item"><a class="page-link" href="?page=2">02</a></li>
                            <li class="page-item"><a class="page-link" href="?page=3">03</a></li>
                            <li class="page-item"><a class="page-link" href="?page=4">04</a></li>
                            <li class="page-item"><a class="page-link" href="?page=5">05</a></li>
                            <li class="page-item"><a class="page-link" href="?page=6">06</a></li>
                            <li class="page-item"><a class="page-link" href="?page=7">07</a></li>
                            <li class="page-item"><a class="page-link" href="?page=8">08</a></li>
                            <li class="page-item"><a class="page-link" href="?page=9">09</a></li>
                            <li class="page-item"><a class="page-link" href="?page=10">10</a></li>
                            <li class="page-item"><a class="page-link" href="?page=11">11</a></li>
                            <li class="page-item"><a class="page-link" href="?page=12">12</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>