<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Customer List</h2>
                                    <p>Welcome To Cherish <span class="bread-ntd"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report"
                                    class="btn"><i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Customer List</h4>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Account</th>
                            <th>Customer's Name</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                            <th>Setting</th>
                        </tr>
                        {{#each customers}}
                        <tr>
                            <td>{{UserID}}</td>
                            <td>{{Account}}</td>
                            <td>{{Name}}</td>
                            <td>{{Gender}}</td>
                            <td>{{Email}}</td>
                            <td>{{Phone}}</td>
                            <td>{{Address}}</td>
                            <td>
                                <form action="/customers/delete" method="post">
                                    <input type="submit" value="Delete"
                                        onclick="return confirm('Are you sure you want to delete this customer?')" />
                                </form> 
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="/customers?page=1">1</a></li>
                            <li class="page-item"><a class="page-link" href="/customers?page=2">2</a></li>
                            <li class="page-item"><a class="page-link" href="/customers?page=3">3</a></li>
                            <li class="page-item"><a class="page-link" href="/customers?page=4">4</a></li>
                            <li class="page-item"><a class="page-link" href="/customers?page=5">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>