<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Profile</h2>
                                    <p>Welcome To Cherish <span class="bread-ntd"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report"
                                    class="btn"><i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single pro tab start-->
<div class="single-product-tab-area mg-t-0 mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-product-pr">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <img src="/img/avatar.jpg" alt=""/>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        {{#adminDetail}}
                            <div class="single-product-details res-pro-tb">
                                <div class="single-pro-price">
                                    <span class="single-regular">ID: {{UserID}}</span>
                                </div>
                                <div class="single-pro-price">
                                    <span class="single-regular">Username: {{Account}}</span>
                                </div>
                                <div class="single-pro-price">
                                    <span class="single-regular">Name: {{Name}}</span>
                                </div>
                                <div class="single-pro-price">
                                    <span class="single-regular">Gender: {{Gender}}</span>
                                </div>                                
                                <div class="single-pro-price">
                                    <span class="single-regular">Email: {{Email}} </span>
                                </div>
                                <div class="single-pro-price">
                                    <span class="single-regular">Phone Number: {{Phone}} </span>
                                </div>
                                <div class="single-pro-price">
                                    <span class="single-regular">Address: {{Address}} </span>
                                </div>
                                <div class="single-pro-price">
                                    <span class="single-regular"> Role: {{Role}} </span>
                                </div>
                            </div>
                            <div class="text-center custom-pro-edt-ds">
                                <a href="/admins/adminsEdit/{{Account}}">
                                    <button type="button" class="btn btn-ctl-bt waves-effect waves-light m-r-10">Edit
                                        Profile
                                    </button></a>
                            </div>
                        {{/adminDetail}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single pro tab End-->