<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Admin List</h2>
                                    <p>Welcome To Cherish <span class="bread-ntd"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report"
                                    class="btn"><i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Admin List</h4>
                    <div class="add-product">
                        <a href="/admins/addAdmin">Add Admin</a>
                    </div>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Account</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Role</th>
                            <th>Setting</th>
                        </tr>
                        {{#each admins}}
                        <tr>
                            <td>{{UserID}}</td>
                            <td>{{Account}}</td>
                            <td>{{Name}}</td>
                            <td>{{Email}}</td>
                            <td>{{Phone}}</td>
                            <td>{{Role}}</td>
                            <td>
                                <a href="/admins/adminsDetail/{{Account}}">
                                <button data-toggle="tooltip" title="Detail" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="/admins?page=1">1</a></li>
                            <li class="page-item"><a class="page-link" href="/admins?page=2">2</a></li>
                            <li class="page-item"><a class="page-link" href="/admins?page=3">3</a></li>
                            <li class="page-item"><a class="page-link" href="/admins?page=4">4</a></li>
                            <li class="page-item"><a class="page-link" href="/admins?page=5">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>